div {
  background-color: #e6e6e6;
  height: 60px;
}
div li{
  display: inline-block;
  color: #5a5a5a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
#li1 {
  margin-top: 20px;
  padding-right: 1050px;
}
#li2 {
  padding-right: 20px;
}
